@font-face {
   font-family: 'Mantra-Alt';
   font-display: swap;
   src: url('Mantra-Alt/font.ttf');
}
@font-face {
   font-family: 'Solide_Mirage-Mono_web';
   font-display: swap;
   src: url('Solide_Mirage-Mono_web/font.ttf');
}
