@font-face {
   font-family: 'Solide_Mirage-Mono_web';
   font-display: swap;
   src: url('file:///C:/Users/Eva%20Heselmans/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-12-29_212059/fonts/Solide_Mirage-Mono_web/font.ttf');
}
